*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
    color: white;
}
.headerr{
    display: flex;
    width: 100vw;
    height:auto;
    justify-content: center;
}
.nav-section{
    display:flex;
    width:90vw;
    justify-content: flex-end;
}
.nav-bar{
    display: flex;
}
.nav-bar ul{
    display: flex;
    justify-content: flex-end;
}
.nav-bar ul li{
    list-style: none;
    text-decoration: none;
    display:flex;
    flex-direction: column;
    padding: 18px 20px;
    font-family: 'Pacifico', cursive;
}
.nav-bar ul li a{
    text-decoration: none;
    color:white;
}
.nav-bar ul li::after{
    content:'';
    width:0%;
    height:2px;
    background: white;
    display: block;
    /*margin:auto*/
    transition:0.6s;
}
.nav-bar ul li:hover::after{
    width:100%;
}

.info-box{
    display:flex;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}
.info{
    display: flex;
    width: 90vw;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info h1{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}
.info p{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color:cadetblue;
}
.progress-box{
    width: 100vw;
    height:50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.progress-box .html-box{
    width:25%;
    height:45%;
    padding: 20px 40px;
    margin:20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;
    /*box-shadow: rgba(205, 255, 87, 0.25) 0px 54px 55px, rgba(205, 255, 87, 0.12) 0px -12px 30px, rgba(205, 255, 87, 0.12) 0px 4px 6px, rgba(205, 255, 87, 0.17) 0px 12px 13px, rgba(205, 255, 87, 0.09) 0px -3px 5px;*/
    box-shadow: 2px 2px 12px rgba(205,255,87,0.8),-2px -2px 12px rgba(205,255,87,0.8);
}
.progress-box .css-box{
    width:25%;
    height:45%;
    padding: 20px 40px;
    margin:20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;
    box-shadow: 2px 2px 12px rgba(205,255,87,0.8),-2px -2px 12px rgba(205,255,87,0.8);
}
.loader{
    width:250px;
    height:40px;
    margin-top: 20px;
    border-radius: 10px;
    background-color:yellowgreen;
    box-shadow: 2px 2px 12px rgba(205,255,87,0.8),-2px -2px 12px rgba(205,255,87,0.8);
}

.fill{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    color: black;
    background-color: tomato;
}
.fill p{
    padding-right: 8px;
    font-family: 'Merriweather', serif;
}
.contact-box{
    display: flex;
    justify-content: center;
}
.contact-links{
    display: flex;
    justify-content: center;
}
.contact-links ul{
    display: flex;
    justify-content: center;
}
.contact-links ul li{
    list-style: none;
    display: flex;
    flex-direction:column;
    font-family:'Pacifico', cursive;
    transition: 0.5s;
}
.contact-links ul li a{
    text-decoration: none;
    color: white;
    padding:30px 25px;
    font-size: 18px;
}
.contact-links ul li a i{
    padding:0 7px;
    font-size: 2.2rem;
}
.contact-links ul li:hover{
    transform: scale(1.15);
}